@model Problem1ViewModel
@await Html.PartialAsync("_ProblemInfo", Model.ProblemInfo)
<div>
    <form>
        <div class="form-group">
            <label for="n">n</label>
            <input class="form-control" id="n" type="number" />
        </div>
        <button type="submit" class="btn btn-primary">Calculate</button>
    </form>
</div>
<div>
    ここに計算結果を表示する
</div>
