@page
@model Problem1PageModel
@{
    Layout = "~/Pages/Shared/_LayoutProblem.cshtml";
}

@section Input {
    <form method="post">
        <div class="form-group">
            <label for="value">Value</label>
            <input id="value" class="form-control" type="number" min="0" asp-for="Input.Value" />
        </div>
        <button type="submit" class="btn btn-primary">Calculate</button>
    </form>
}

@section Output {
    @if (Model.Output.IsNone)
    {
        <table class="table table-hover">
            <tr>
                <th>Sum</th>
                <td>-</td>
            </tr>
            <tr>
                <th>List</th>
                <td>-</td>
            </tr>
        </table>
    }
    else
    {
        <table class="table table-hover">
            <tr>
                <th>Sum</th>
                <td>@Model.Output.Sum.ToString("#,##0")</td>
            </tr>
            <tr>
                <th>List</th>
                <td>@string.Join(", ", Model.Output.List)</td>
            </tr>
        </table>
    }
}
