@page
@model Problem1PageModel
@await Html.PartialAsync("_ProblemInfo", await Model.GetProblemInfoAsync())
<div>
    <form method="post">
        <div class="form-group">
            <label for="n">n</label>
            <input id="n" class="form-control" type="number" asp-for="Input.N" />
        </div>
        <button type="submit" class="btn btn-primary">Calculate</button>
    </form>
</div>
<div>
    <div>
        @if (Model.Output.IsNone)
        {
            <span>-</span>
        }
        else
        {
            <span>@Model.Output.Result</span>
        }
    </div>
</div>
