@page
@model Problem1PageModel
@await Html.PartialAsync("_ProblemInfo", await Model.GetProblemInfoAsync())
<div>
    <form method="post">
        <div class="form-group">
            <label for="n">n</label>
            <input id="n" class="form-control" type="number" asp-for="Input.N" />
        </div>
        <button type="submit" class="btn btn-primary">Calculate</button>
    </form>
</div>
<div>
    <div>
        @if (Model.Output.IsNone)
        {
            <span>-</span>
        }
        else
        {
            <table>
                <tr>
                    <th>Sum</th>
                    <td>@Model.Output.Sum.ToString("#,##0")</td>
                </tr>
                <tr>
                    <th>List</th>
                    <td>@string.Join(", ", Model.Output.List)</td>
                </tr>
            </table>
        }
    </div>
</div>
