@page
@model IndexPageModel
@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1>Project Euler Challenge by C#</h1>
    <div class="list-group text-left">
        @foreach (var problem in Model.Problems)
        {
            <a class="list-group-item list-group-item-action" href=@($"/Problems/{problem.Id}")>@($"Problem{problem.Id}: ")@Html.Raw(problem.EncodedTitle)</a>
        }
    </div>
</div>
